@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}
header .logo
{
    max-width: 120px;
}
header .toggle
{
    max-width: 60px;
    cursor: pointer;
}
header .logo img,
header .toggle img
{
    max-width: 100%;
}
.banner
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner .content
{
    max-width: 550px;
}
.banner .content h2
{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: #fff;
}
.banner .content h2 span
{
    font-weight: 800;
}
.banner .content p
{
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: #fff;
    margin: 15px 0 35px;
}
.play,
.play2
{
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.2em;
}
.play img,
.play2 img
{
    margin-right: 10px;
    max-width: 50px;
}
.sci
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    text-decoration: none;
}
.sci li a img
{
    filter: invert(1);
    transform: scale(0.6);
}
.slide
{
    position: absolute;
    bottom: 50px;
    left: calc(50% - 250px / 2);
    width: 250px;      /* you can make 'width: 250px;'  */
    height: 260px;     /* you can make 'height: 220px;' */
    background: url(joker.png);
    background-size: cover;
    cursor: pointer;
    animation: animate 10s linear infinite;  /* i think '12s' is good */
}
@keyframes animate
{
    0%,100%
    {
        background-position: top;
    }
    45%,55%
    {
        background-position: bottom;
    }
}
.movie
{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(-50%,-50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.movie.activee
{
    visibility: visible;
    opacity: 1;
}
.movie .videoo
{
    max-width: 1200px;
    outline: none;
}
.movie .close
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

@media (max-width: 991px) /* 414ppx */
{
    header
    {
        padding: 20px 50px;
    }
    header
    {
        padding: 20px 50px;
    }
    header .logo
    {
        max-width: 70px;
        margin-left: -25px;
        margin-bottom: -20px;
    }
    header .toggle
    {
        max-width: 40px;
        margin-right: -25px;
        margin-bottom: -20px;
    }
    .banner
    {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 0 20px;
        background: url(bg.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .banner .content
    {
        max-width: 400px;
        height: 70vh;
    }
    .banner .content h2
    {
        max-width: 375px;
        font-weight: 300;
        font-size: 1.8em;
        letter-spacing: 0.00001em;
    }
    .banner .content h2 span
    {
        font-weight: 600;
    }
    .banner .content p
    {
        max-width: 260px;
        font-size: 1.0em;
        font-weight: 200;
    }
    .banner .content a
    {
        padding: 10px;
        margin: -25px;
    }
    .slide
    {
        position: absolute;
        bottom: 15px;
        left: calc(50% - 250px / 2);
        width: 250px;      /* you can make 'width: 250px;'  */
        height: 280px;     /* you can make 'height: 220px;' */
        background: url(joker.png);
        background-size: cover;
        cursor: pointer;
        animation: animate 8s linear infinite;  /* i think '12s' is good */
    }
        @keyframes animate
        {
            0%,100%
            {
                background-position: top;
            }
            45%,55%
            {
                background-position: bottom;
            }
        }
    .sci
    {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .sci li
    {
        list-style: none;
    }
    .sci li a
    {
        text-decoration: none;
    }
    .sci li a img
    {
        filter: invert(1);
        transform: scale(0.6);
    }
    .play2
    {
        letter-spacing: 0px;
    }
    .movie .videoo {
        max-width: 94%;
        outline: none;
    }
}